BODY {
	font-SIZE: 50px;
	background-color: yellow;
}

#blue {
	color: blue;
}

.Purple {
	color: purple;
}

#red {
	color: Red;
}

.Green {
	color: Green;
}
	
.white {
	color: white;
}

.blackbackground {
	background-color: black;
}

.alignLeft{
	text-align: left;
}

.alignCenter{
	text-align: center;
}

.alignRight{
	text-align: right;
}
	